@keyframes fadeInLinear {
  0% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeIn25Delay {
  0% { opacity:0; }
  25% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeIn50Delay {
  0% { opacity:0; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.fadeIn1s {
  animation-name: fadeInLinear;
  animation-duration: 1s;
}

.fadeIn2s {
  animation-name: fadeInLinear;
  animation-duration: 2s;
}

.fadeIn4s {
  animation-name: fadeInLinear;
  animation-duration: 4s;
}

.fadeIn4sAfter1s {
  animation-name: fadeIn25Delay;
  animation-duration: 4s;
}

.fadeIn1sAfterHalf1s {
  animation-name: fadeIn50Delay;
  animation-duration: 1s;
}

.fadeIn2sAfter1s {
  animation-name: fadeIn50Delay;
  animation-duration: 2s;
}

.fadeIn4sAfter2s {
  animation-name: fadeIn50Delay;
  animation-duration: 4s;
}

.fadeIn6sAfter3s {
  animation-name: fadeIn50Delay;
  animation-duration: 6s;
}

.fadeIn8sAfter4s {
  animation-name: fadeIn50Delay;
  animation-duration: 8s;
}

.fadeInFast {
  animation-name: fadeInFast;
  animation-duration: 1.5s;
}

@keyframes fadeInFast {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInSlow {
  animation-name: fadeInSlow;
  animation-duration: 2s;
}

.fadeInSlower {
  animation-name: fadeInSlower;
  animation-duration: 3s;
}

@keyframes fadeInSlow {
  0% { opacity:0; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeInSlower {
  0% { opacity:0; }
  75% { opacity:0; }
  100% { opacity:1; }
}

// .slideUp {
//   animation-name: slideUp;
//   animation-duration: 8s;
// }

// @keyframes slideUp {
//   0% { transform: translate(0px, 100%); }
//   25% { transform: translate(0px, 100%); }
//   100% { transform:  translate(0px,0px) ; }
// }

$color-text-transition-duration: 8s;

.becomeTransparent {
  animation-name: becomeTransparent;
  animation-duration: $color-text-transition-duration;
}

@keyframes becomeTransparent {
  0% {background-color:rgba(27,27,27, 1);}
  80% {background-color:rgba(27,27,27, 1);}
  100% {background-color:rgba(0,0,0, 0);}
}

.whiteToPurple {
  color: #bd86f4;
  animation-name: whiteToPurple;
  animation-duration: $color-text-transition-duration;
}

@keyframes whiteToPurple {
  0% {color: white; }
  75% {color: white; }
  100% {color: #bd86f4; }
}

.whiteToBlue {
  color: #55abfc;
  animation-name: whiteToBlue;;
  animation-duration: $color-text-transition-duration;
}

@keyframes whiteToBlue {
  0% {color:white; }
  75% {color: white; }
  100% {color: #55abfc; }
}


.whiteToGreen {
  color: #1BB954;
  animation-name: whiteToGreen;
  animation-duration: $color-text-transition-duration;
}

@keyframes whiteToGreen {
  0% {color: white; }
  75% {color: white; }
  100% {color: #1BB954; }
}

.whiteToYellow {
  color: #fff568;
  animation-name: whiteToYellow;
  animation-duration: $color-text-transition-duration;
}

@keyframes whiteToYellow {
  0% {color: white; }
  75% {color: white; }
  100% {color: #fff568; }
}

.whiteToOrange {
  color: #fbaf5d;
  animation-name: whiteToOrange;
  animation-duration: $color-text-transition-duration;
}

@keyframes whiteToOrange {
  0% {color: white; }
  75% {color: white; }
  100% {color: #fbaf5d; }
}

.whiteToRed {
  color: #f9471b;
  animation-name: whiteToRed;
  animation-duration: $color-text-transition-duration;
}

@keyframes whiteToRed {
  0% {color: white; }
  75% {color: white; }
  100% {color: #f9471b; }
}


// LOADER (SPINNER)
.loader {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

/*LOADER-1*/
.loader-1 .loader-outer {
  position: absolute;
  border: 4px solid #999;
  border-left-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-1-outer 1s linear infinite;
  animation: loader-1-outer 1s linear infinite;
}

.loader-1 .loader-inner {
  position: absolute;
  border: 4px solid #777;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  left: calc(50% - 1rem);
  top: calc(50% - 1rem);
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s linear infinite;
  animation: loader-1-inner 1s linear infinite;
}

@-webkit-keyframes loader-1-outer {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes loader-1-outer {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-1-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}