#char-purple {
  color: #8781bd;
}
#char-blue {
  color: #6dcff6;
}
#char-green {
  color: #1BB954;
}
#char-yellow {
  color: #fff568;
}
#char-orange {
  color: #fbaf5d;
}
#char-red {
  color: #ed1c24;
}

// .colour {
//   filter: brightness(0) invert(1);
// }