#char-purple {
  color: #8781bd;
}
#char-blue {
  color: #6dcff6;
}
#char-green {
  color: #1BB954;
}
#char-yellow {
  color: #fff568;
}
#char-orange {
  color: #fbaf5d;
}
#char-red {
  color: #ed1c24;
}

.login-container {
  width: 50%;
}

@include mobile {
  .login-container {
    width: 100%;
    // border: 100px solid red;
  }
}