.purpleToWhite {
  color: #bd86f4;
}
.blueToWhite {
  color: #55abfc;
}
.greenToWhite {
  color: #1BB954;
}
.yellowToWhite {
  color: #fff568;
}
.orangeToWhite {
  color: #fbaf5d;
}
.redToWhite {
  color: #f9471b;
}

.login-container {
  width: 50%;
}

@include mobile {
  #login-image {
    display: none;
  }

  .login-container {
    width: 100%;
    // border: 100px solid red;
  }
}