
// Switching Songs
.player-container.enter-active {
  transition: 1s ease-out;
  // background: blue;
}

.player-container.exit-active {
  transition: 1s ease-out;
}

// State when song is playing
.player-container.enter-done {
  transition: 1s ease-out;
  // background: green;
}

// Overlaps with enter-active and exit-active
.player-container.enter{
  transition: 1s ease-out;
  // background: purple;
}

.player-container.exit {
  transition: 1s ease-out;
  // background: yellow;
}

// Never really used
.player-container.exit-done{
  transition: 1s ease-out;
  // background: red;
}
