
.test.enter{
  transition: 1s ease-out;
}
.test.enter-active {
  transition: 1s ease-out;
}
.test.enter-done {
  transition: 1s ease-out;
}

.test.exit {
  transition: 1s ease-out;
}
.test.exit-active {
  transition: 1s ease-out;
}
.test.exit-done{
}
